// Colours
//-----------------------------------

@brand-primary: #ff0066;

@primary: #ff0066;
@light-primary: lighten(@primary, 40%);

@grey-base: #000000;
@light-grey: lighten(@grey-base, 85%);
@mid-grey: lighten(@grey-base, 40%);
@dark-grey: lighten(@grey-base, 15%);

@black: #000000;
@white: #ffffff;


// Bootstrap overrides
//-----------------------------------

@font-size-base: 16px;

@border-radius-base: 0px;
@border-radius-large: 0px;
