extends ./error_base.jade

block seo
  title eConvenor  |  The page you're looking for doesn't exist
  meta(name="description", content="404 error")

block content
  h2 The page you're looking for doesn't exist.
  p Go to the <a href="/">eConvenor main page</a>.

