extends ./error_base.pug

block seo
  title Meetniq  |  The page you're looking for doesn't exist
  meta(name="description", content="404 error")

block content
  h2 The page you're looking for doesn't exist.
  p Go to the <a href="/">Meetniq main page</a>.
  p.
    If you were expecting to see something here, please
    <a href="mailto:mail@meetniq.org">drop us an email</a> to let us know
    it's missing!
