extends ./landing_base.jade

block seo
  title eConvenor  |  Donate money
  meta(name="description" content="Donate money to eConvenor.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron jumbotron-header divider general")
    div(class="container")
      h1(class="text-center") Donate money

  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          h2(class="red") Paypal
          p
            | You can transfer funds through your Paypal account to:&nbsp;&nbsp; 
            | <span class='red'>donate@econvenor.org</span>.
          h2(class="red") Credit cards
          p A credit card facility is coming soon.
