extends ./landing_base.pug

block seo
  title eConvenor  |  Features
  meta(name='description', content="Features")

block content

  // PAGE HEADER
  // ==================================================
  div(class='jumbotron jumbotron-header divider general')
    div(class='container')
      h1(class='text-center') Features

  // BODY

  // SECTION 1A
  // ==================================================
  div(id='section1c', class='section')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') Clear, well-organised agendas
          p(class='text-center')
            i.
              "The automatically-generated agenda PDF was surprising - 
              in a good way! Really helpful and easy to read!"
            | &nbsp;&nbsp;Jonathan, Australia

      div(class='row')
        div(class='col-md-5')
          p(class='lead').
            A good agenda is the foundation for a good meeting. eConvenor
            makes excellent agendas easy,
            whether you're a veteran or a new activist.
          ul(class='fa-ul')
            li
              i(class='fa-li fa fa-list fa-lg red')
              | Adds lists of outstanding tasks
            li
              i(class='fa-li fa fa-file-pdf-o fa-lg red')
              | Produces a neat PDF document
            li
              i(class='fa-li fa fa-envelope-o fa-lg red')
              | Emails it straight to your group
            li
              i(class='fa-li fa fa-clock-o fa-lg red')
              | Calculates the meeting end time
            li
              i(class='fa-li fa fa-check-circle fa-lg red')
              | Prompts for all the important information

          a(href='images/pdfs/example_agenda.pdf', target='_blank')
            button(type='button', class='btn btn-primary btn-lg visible-md visible-lg')
              i(class='fa-fw fa fa-file-pdf-o fa-lg')
              | &nbsp;See an example agenda

        div(class='col-md-7')
          div(class='spacer visible-md visible-lg')

          div(id='carousel-agenda', class='carousel slide right')
            div(class='carousel-frame')
              div(class='carousel-inner')
                div(class='item active')
                  a(class='popup-image', href='images/landing/agendas-screenshot-1-large.png')
                    img(src='images/landing/agendas-screenshot-1-small.png', alt='Agenda screenshot 1')

                div(class='item')
                  a(class='popup-image', href='images/landing/agendas-screenshot-2-large.png')
                    img(src='images/landing/agendas-screenshot-2-small.png', alt='Agenda screenshot 2')

                div(class='item')
                  a(class='popup-image', href='images/landing/agendas-screenshot-3-large.png')
                    img(src='images/landing/agendas-screenshot-3-small.png', alt='Agenda screenshot 3')

      a(href="/examples/example-agenda")
        button(type="button", class="btn btn-primary btn-lg visible-xs visible-sm")
          i(class="fa-fw fa fa-file-pdf-o fa-lg")
          | &nbsp;See an example agenda

  // SECTION 1B
  // ==================================================
  div(id='section1b', class='section')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') Your group's best-ever minutes
          p(class='text-center')
            i.
              "(eConvenor) has made recording and sending the minutes
              easier, and given them a more consistent and professional
              look."
            | &nbsp;&nbsp;Denise, Australia
            br
            i.
              "I love eConvenor! The minute taking process is so much easier."
            | &nbsp;&nbsp;Bonnie, Australia

      div(class='row')
        div(class='col-md-5 visible-xs visible-sm')
          p(class='lead').
            Meeting minutes are so important.
            eConvenor makes it quick, easy and painless to
            produce great minutes.
          ul(class='fa-ul')
            li
              i(class='fa-li fa fa-repeat fa-lg red')
              | Agendas automatically create minutes templates
            li
              i(class='fa-li fa fa-file-pdf-o fa-lg red')
              | eConvenor turns minutes into a PDF and emails them out
            li
              i(class='fa-li fa fa-list fa-lg red')
              | Tasks are summarised in the PDF and the email
            li
              i(class='fa-li fa fa-cubes fa-lg red')
              | eConvenor's minutes design is based on 30 years of experience

        div(class='col-md-7')
          div(class='spacer visible-md visible-lg')

          div(id='carousel-agenda', class='carousel slide')
            div(class='carousel-frame')
              div(class='carousel-inner')
                div(class='item active')
                  a(class='popup-image', href='images/landing/minutes-screenshot-1-large.png')
                    img(src='images/landing/minutes-screenshot-1-small.png', alt='Agenda screenshot 1')

                div(class='item')
                  a(class='popup-image', href='images/landing/minutes-screenshot-2-large.png')
                    img(src='images/landing/minutes-screenshot-2-small.png', alt='Agenda screenshot 2')

                div(class='item')
                  a(class='popup-image', href='images/landing/minutes-screenshot-3-large.png')
                    img(src='images/landing/minutes-screenshot-3-small.png', alt='Agenda screenshot 3')

        div(class='col-md-4 pull-right visible-md visible-lg')
          p(class='lead').
            Meeting minutes are so important.
            eConvenor makes it quick, easy and painless to
            produce great minutes.
          ul(class='fa-ul')
            li
              i(class='fa-li fa fa-repeat fa-lg red')
              | Agendas automatically create minutes templates
            li
              i(class='fa-li fa fa-file-pdf-o fa-lg red')
              | eConvenor turns minutes into a PDF and emails them out
            li
              i(class='fa-li fa fa-list fa-lg red')
              | Tasks are summarised in the PDF and the email
            li
              i(class='fa-li fa fa-cubes fa-lg red')
              | eConvenor's minutes design is based on 30 years of experience

          a(href='images/pdfs/example_minutes.pdf', target='_blank')
            button(type='button', class='btn btn-primary btn-lg')
              i(class='fa-fw fa fa-file-pdf-o fa-lg')
              | &nbsp; See some example minutes

      a(href='images/pdfs/example_minutes.pdf', target='_blank')
        button(type='button', class='btn btn-primary btn-lg visible-xs visible-sm')
          i(class='fa-fw fa fa-file-pdf-o fa-lg')
          | &nbsp; See some example minutes

  // SECTION 1C
  // ==================================================
  div(id='section1c', class='section')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') Automatic task coordination
          p(class='text-center')
            i.
              "The best part is that it manages our actions
              sending reminders. Once actions are minuted there is no
              losing tack of them." 
            | &nbsp;&nbsp;Kieran, Australia

      div(class='row')
        div(class='col-md-5')
          p(class='lead').
            Do you wish that someone else could remind people to do what they
            said they'd do?
            eConvenor will do that.
          ul(class='fa-ul')
            li
              i(class='fa-li fa fa-search-plus fa-lg red')
              | Collects and tracks tasks assigned in meetings
            li
              i(class='fa-li fa fa-tags fa-lg red')
              | Emails reminders to people when their tasks are due
            li
              i(class='fa-li fa fa-check fa-lg red')
              | Participants can manage their own tasks, without logging in
            li
              i(class='fa-li fa fa-list fa-lg red')
              | Lists of tasks appear for review in agendas and minutes
            li
              i(class='fa-li fa fa-star fa-lg red')
              | eConvenor sends task reminders so you don't have to

        div(class='col-md-7')
          div(class='spacer visible-md visible-lg')

          div(id='carousel-agenda', class='carousel slide right')
            div(class='carousel-frame')
              div(class='carousel-inner')
                div(class='item active')
                  a(class='popup-image', href='images/landing/tasks-screenshot-1-large.png')
                    img(src='images/landing/tasks-screenshot-1-small.png', alt='Agenda screenshot 1')

                div(class='item')
                  a(class='popup-image', href='images/landing/tasks-screenshot-2-large.png')
                    img(src='images/landing/tasks-screenshot-2-small.png', alt='Agenda screenshot 2')

                div(class='item')
                  a(class='popup-image', href='images/landing/tasks-screenshot-3-large.png')
                    img(src='images/landing/tasks-screenshot-3-small.png', alt='Agenda screenshot 3')
  // DIVIDER C
  // ==================================================
  div(class='jumbotron divider' id='dividerc')
    div(class='container')
      h1(class='text-center') Sometimes the best person for the job is a computer.
      h2(class='text-center').
        eConvenor does it's work on time, has high standards and never forgets anything.
      br
      p(class='text-center')
        a(href='qualify_step1')
          button(type='button', class='btn btn-primary btn-lg')
            i(class='fa-fw fa fa-bookmark fa-lg')
            | &nbsp;Get an account
