extends ./landing_base.pug

block seo
  title Meetniq   GDPR
  meta(name="description", content="Meetniq and GDPR.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron jumbotron-header general")
    div(class="container")
      h1(class="text-center heading-margin") Meetniq and GDPR


  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
            h2(class="red") Meetniq is a data processor
            p.
              If you or your organisation is in Europe, you may be covered by GDPR.
            p.
              For GDPR purposes, your organisation is the data controller, and
              Meetniq is the data processor. This means that the organisation
              that entered your information into Meetniq is responsible for identifying
              the types of data collected from you, telling you the purpose
              and means of processing, and managing consents.
            p.
              More information is available in our <a href="dpa">Data Processing
              Addendum</a>.

            h2.red Your Rights
            p You have these rights regarding your information:
            ul.sub-list
              li.
                <b>The right to be informed</b>: You have the right to be provided
                with clear, transparent and easily understandable information
                about how we use your information and your rights, such as
                in our <a href="privacy">Privacy Policy</a>. 
              li.
                <b>The right of access</b>: You have the right to obtain access to
                your information (if we’re processing it).
              li.
                <b>The right to rectification</b>: You’re entitled to have your 
                information corrected if it’s inaccurate or incomplete.
                You can do this by updating it yourself, or asking the account
                holder for your organisation to update
                it for you.
              li.
                <b>The right to erasure</b>: This is also known as ‘the right to be
                forgotten’ and, in simple terms, enables you to request the
                deletion or removal of your information where there’s no 
                compelling reason for us to keep using it. This is not a 
                general right to erasure; there are exceptions.
              li.
                <b>The right to restrict processing</b>: You have rights to ‘block’
                or suppress further use of your information. When processing
                is restricted, we can still store your information, but may
                not use it further. We keep lists of people who have asked
                for further use of their information to be ‘blocked’ to make
                sure the restriction is respected in future.
              li.
                <b>The right to data portability</b>: You have rights to obtain and
                reuse your personal data for your own purposes across
                different services. For example, if you decide to switch to a new 
                provider, this enables you to move, copy or transfer your
                information between our system and theirs safely
                and securely, without affecting its usability.
              li.
                <b>The right to object</b>: You have the right to object to certain
                types of processing. In the first instance you should contact
                the data controller, but if you can't get an answer from them
                email us at <a href="mailto:mail@meetniq.org">mail@meetniq.org</a>.
