extends ./landing_base.jade

block seo
  title eConvenor  |  Hack with us each month!
  meta(name="description", content="Details of the monthly eConvenor hack day.")

block content

  // PAGE HEADER
  // ==================================================
  div(class="jumbotron jumbotron-header divider general")
    div(class="container")
      h1(class="text-center") Hack with us

  // BODY
  // ==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          h2(class="red") Hack days are on hold
          p.
            We're not having hack days at the moment because we're busy
            rebuilding eConvenor.
          p.
            If you miss us, stay tuned. We'll announce the next one on
            <a href="https://twitter.com/econvenor" target="_blank">Twitter</a>.
