extends ./landing_base.jade

block seo
  title eConvenor  |  Hack with us each month!
  meta(name="description", content="Details of the monthly eConvenor hack day.")

block content

  // PAGE HEADER
  // ==================================================
  div(class="jumbotron divider general")
    div(class="container")
      h1(class="text-center") Hack with us each month!

  // BODY
  // ==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          h2(class="red") Where and when
          p.
            The next eConvenor hack day is <span class="red">Saturday 
            13th, June 2015</span> in Melbourne, Australia.
          p.
            From 10:00am to 5:30pm we work on eConvenor at 8 Studley Street,
            Abbotsford. Thanks to <span class="red">Common Code</span> for
            making their space available for us to use.
          p.
            From 6:00pm we relax and dine at Loving Hut, 10/242 Victoria St,
            Richmond.

          h2(class="red") Accessibility
          p.
            The space has no front step, a slight ramp (15cms), a wide front
            doorway, and accessible toilets. Toilets have gendered signs, we
            treat them as genderless. The walkway on the street is narrow. There
            is parking out the front (no ramp), and public transport nearby.
          p.
            Loving Hut in Richmond has a 15cm-20cm front step, standard-width
            door and average space between tables. Toilet doors are very narrow.

          h2(class="red") What to bring
          p.
            All you need to bring is your computer. Having a
            <a href="https://github.com" target="_blank">Github account</a>
            would also be handy.
          p.
            We'll supply lunch and snacks throughout the day. It will help us
            cater if you <a href="mailto:mail@econvenor.org?subject=RSVP+for+hack+day">
            let us know you're coming</a>.

          h2(class="red") Code of conduct
          p.
            We are committed to ending oppression, and a tiny part of that is
            making our space safer for all.
          p.
            Please read our <a href="conduct.html">code of conduct</a>. 
            Everyone is expected to abide by it.

          h2(class="red") There's something for everyone to do
          p(class="lead") Back end (Django/Python) tasks
          ul(class="fa-ul")
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | Enable the creation of reusable agenda templates.
              | (<a href="https://trac.econvenor.org/ticket/51" target="_blank">
              | Ticket #51</a>)
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | Enable a message to be added to agenda/minutes covering emails. 
              | (<a href="https://trac.econvenor.org/ticket/52" target="_blank">
              | Ticket #52</a>)
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | Allow tags to be added to tasks. 
              | (<a href="https://trac.econvenor.org/ticket/7" target="_blank">
              | Ticket #7</a>)
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | Configuring 
              | <a href="http://sphinx-doc.org/index.html" target="_blank">
              | Sphinx</a> for documentation generation.

          p(class="lead") Front end (HTML/CSS/React/Jade) tasks
          ul(class="fa-ul")
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | Count words in some fields, not characters. 
              | (<a href="https://trac.econvenor.org/ticket/44" target="_blank">
              | Ticket #44</a>)
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | Add an HTML version of password reset email. 
              | (<a href="https://trac.econvenor.org/ticket/49" target="_blank">
              | Ticket #49</a>)
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | At least one recipient must be selected for document 
              | distribution.
              | (<a href="https://trac.econvenor.org/ticket/12" target="_blank">
              | Ticket #12</a>)

          p(class="lead") SEO
          ul(class="fa-ul")
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | Improve eConvenor's seach engine rankings.

          p(class="lead") Design
          ul(class="fa-ul")
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | Design new graphic elements for the landing site.

          p(class="lead") Non-technical
          ul(class="fa-ul")
            li
              i(class="fa fa-li fa-arrow-circle-right fa-lg red")
              | We need process- and systems-oriented people to test features, 
              | review eConvenor's workflow, and devise processes for new 
              | features. You don"t need special IT skills to do this.
