extends ./landing_base.pug

block seo
  title Meetniq  |  Activists, get organised
  meta(name='description', content='An organising tool for progressive activist groups. Built by activists for activists!')

block content


  // HERO
  // ==================================================
  div(id='hero', class='jumbotron')
    div(class='container')
      h1 Activists, get organised.
      h2 Have great meetings. Get more done.
      a(class="btn btn-transparent btn-lg btn-frontpage", href='https://app.meetniq.org/create-account')
        i(class='fa-fw fa fa-bookmark fa-lg')
        | &nbsp;Free trial
      a(class="btn btn-transparent btn-lg btn-frontpage", href='new')
        i(class='fa-fw fa fa-star fa-lg')
        | &nbsp;What's new?


  // DIVIDER A
  // ==================================================
  div(class='jumbotron divider' id='dividera')
    div(class='container')
      div(class='row')
        .col-sm-4.dividera
          p
            i.
              "It's invaluable to us as a voluntary
              organisation with little funding - it really helps
              get us organised and stay on track!"
          p
            i(class='fa fa-user')
            | &nbsp; Klina, United Kingdom

        .col-sm-4.dividera
          p
            i.
              "Using the program's simple tools, and clear formatting
              has really improved the quality of our minutes. It has
              not only helped keep the committee on track, but has given
              us a greater sense of making progress."
          p
            i(class='fa fa-user')
            | &nbsp; Jonathan, Australia

        .col-sm-4.dividera
          p
            i.
              "I would recommend Meetniq because it is a great tool
              which can get your activist group organised."
          p
            i(class='fa fa-user')
            | &nbsp; Nicole, Australia


  // HOW Meetniq WILL HELP
  // ==================================================
  div(class='section')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') What will Meetniq do for you?

      div(class='row')
        .col-sm-4
          p(class='lead red')
            span(class='fa-stack')
              i(class='fa fa-circle fa-stack-2x red')
              i(class='fa fa-clock-o fa-xl fa-stack-1x fa-inverse')
            | &nbsp;
            | Save you time
          p.
            Meetniq does the work of following people in your group up about
            their tasks automatically. It lets you create meeting agendas and
            minutes faster than ever, then it distributes them for you.
            You'll have more time for the real work.
        .col-sm-4
          p(class='lead red')
            span(class='fa-stack')
              i(class='fa fa-circle fa-stack-2x red')
              i(class='fa fa-bolt fa-lg fa-stack-1x fa-inverse')
            | &nbsp;
            | Make you more effective
          p.
            Meetniq will make sure everyone in your group is clear about
            decisions made in meetings and the tasks they have to do. Say
            goodbye to the days of tasks being unassigned or forgotten. Your
            group will get more done.
        .col-sm-4
          p(class='lead red')
            span(class='fa-stack')
              i(class='fa fa-check-circle fa-stack-2x red')
            | &nbsp;
            | Nudge you to better process
          p.
            Meetniq is designed to guide you toward being better organised and
            having good meetings. It'll remind you to assign tasks to
            people, help record your decisions clearly and make sure that
            meetings finish on time.

      p(class='text-center')
        a(href='features')
          button(type='button', class='btn btn-primary btn-lg')
            i(class='fa-fw fa fa-bookmark fa-lg')
            | &nbsp;Find out more

  // DIVIDER B
  // ==================================================
  div(class='jumbotron divider' id='dividerb')
    div(class='container')
      h1(class='text-center') Built by activists, for activists.
      h2(class='text-center').
        Meetniq helps activist groups everywhere be more effective.

  // THE STORY BEHIND MEETNIQ
  // =================================================
  div(class='section')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') The story behind Meetniq
          p(class='lead').
            We're two ordinary people from Melbourne, Australia, who were frustrated
            with the time we saw wasted because of poor internal organisation.
            Each activist and organising group we belonged to was reinventing the
            wheel. Great ideas, skills and organisational memory were lost
            each time an activist moved on.
          p(class='lead').
            We were sure there had to be a better way. We looked around for tools
            which could help, but couldn't find anything that suited our needs or
            the activist budget.
          p(class='lead').
            Taking on the DIY spirit of activism and social movements, we
            learnt new skills and made our own organising tool. It will keep
            your group well-organised, running smoothly and most importantly,
            effective.
          p(class='lead').
            We really hope you like it as much as we do.
          p(class='lead').
            Keep fighting!
          img(src='images/signature.png', id='signature', alt='Keira & Sky')
          p(class='text-center')
            a(href='https://app.meetniq.org/create-account')
              button(type='button', class='btn btn-primary btn-lg')
                i(class='fa-fw fa fa-bookmark fa-lg')
                | &nbsp;Sign up
