extends ./landing_base.jade

block seo
  title eConvenor  |  A tool to get activists organised
  meta(name='description', content='An organising tool for progressive activist groups. Built by activists for activists!')

block content


  // HERO
  // ==================================================
  div(id='hero', class='jumbotron')
    div(class='container')
      h1 Activists, get organised.
      h2 Have great meetings. Get more done.
      h2 Free for small groups.
      a(class="btn btn-transparent btn-lg", href='qualify_step1')
        i(class='fa-fw fa fa-bookmark fa-lg')
        &nbsp;Get an account
      h2
        i(class='fa fa-arrow-down')


  // RIBBON
  // ==================================================
  div(class='jumbotron dividera')
    div(class='container')
      h1(class='text-center') A huge eConvenor upgrade is in the works!
      h2(class='text-center') You'll notice changes throughout May and June.

  // HOW ECONVENOR WILL HELP
  // ==================================================
  div(class='section')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') What will eConvenor do for you?

      div(class='row')
        .col-sm-4
          p(class='lead red')
            span(class='fa-stack')
              i(class='fa fa-circle fa-stack-2x red')
              i(class='fa fa-clock-o fa-xl fa-stack-1x fa-inverse')
            &nbsp;
            | Save you time
          p.
            eConvenor does the work of following people in your group up about
            their tasks automatically. It lets you create meeting agendas and
            minutes faster than ever, then it distributes them for you.
            You'll have more time for the real work.
        .col-sm-4
          p(class='lead red')
            span(class='fa-stack')
              i(class='fa fa-circle fa-stack-2x red')
              i(class='fa fa-bolt fa-lg fa-stack-1x fa-inverse')
            &nbsp;
            | Make you more effective
          p.
            eConvenor will make sure everyone in your group is clear about
            decisions made in meetings and the tasks they have to do. Say
            goodbye to the days of tasks being unassigned or forgotten. Your
            group will get more done.
        .col-sm-4
          p(class='lead red')
            span(class='fa-stack')
              i(class='fa fa-check-circle fa-stack-2x red')
            &nbsp;
            | Nudge you to better process
          p.
            eConvenor is designed to guide you toward being better organised and
            having good meetings. It'll remind you to assign tasks to
            people, help record your decisions clearly and make sure that
            meetings finish on time.

  // DIVIDER 1
  // ==================================================
  div(class='jumbotron dividerc')
    div(class='container')
      h1(class='text-center') Sometimes the best person for the job is a computer.
      h2(class='text-center').
        eConvenor does its work on time, has high standards and never forgets
        anything.


  // SECTION 1A
  // ==================================================
  div(id='section1a', class='section')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') Clear, well-organised agendas

      div(class='row')
        div(class='col-md-5')
          p(class='lead').
            A good agenda is the foundation for a good meeting. eConvenor
            makes excellent agendas easy,
            whether you're a veteran or a new activist.
          ul(class='fa-ul')
            li
              i(class='fa-li fa fa-list fa-lg red')
              | Adds lists of outstanding tasks
            li
              i(class='fa-li fa fa-file-pdf-o fa-lg red')
              | Produces a neat PDF document
            li
              i(class='fa-li fa fa-envelope-o fa-lg red')
              | Emails it straight to your group
            li
              i(class='fa-li fa fa-clock-o fa-lg red')
              | Calculates the meeting end time
            li
              i(class='fa-li fa fa-check-circle fa-lg red')
              | Prompts for all the important information

          a(href='images/pdfs/example_agenda.pdf', target='_blank')
            button(type='button', class='btn btn-primary visible-md visible-lg')
              i(class='fa-fw fa fa-file-pdf-o fa-lg')
              &nbsp;See an example agenda

        div(class='col-md-7')
          div(class='spacer visible-md visible-lg')

          div(id='carousel-agenda', class='carousel slide right')
            div(class='carousel-frame')
              div(class='carousel-inner')
                div(class='item active')
                  a(class='popup-image', href='images/landing/agendas-screenshot-1-large.png')
                    img(src='images/landing/agendas-screenshot-1-small.png', alt='Agenda screenshot 1')

                div(class='item')
                  a(class='popup-image', href='images/landing/agendas-screenshot-2-large.png')
                    img(src='images/landing/agendas-screenshot-2-small.png', alt='Agenda screenshot 2')

                div(class='item')
                  a(class='popup-image', href='images/landing/agendas-screenshot-3-large.png')
                    img(src='images/landing/agendas-screenshot-3-small.png', alt='Agenda screenshot 3')

      a(href="/examples/example-agenda")
        button(type="button", class="btn btn-primary visible-xs visible-sm")
          i(class="fa-fw fa fa-file-pdf-o fa-lg")
          &nbsp;See an example agenda

  // SECTION 1B
  // ==================================================
  div(id='section1b', class='sectionb')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') Your group's best-ever minutes

      div(class='row')
        div(class='col-md-5 visible-xs visible-sm')
          p(class='lead').
            Meeting minutes are so important.
            eConvenor makes it quick, easy and painless to
            produce great minutes.
          ul(class='fa-ul')
            li
              i(class='fa-li fa fa-repeat fa-lg red')
              | Agendas automatically create minutes templates
            li
              i(class='fa-li fa fa-file-pdf-o fa-lg red')
              | eConvenor turns minutes into a PDF and emails them out
            li
              i(class='fa-li fa fa-list fa-lg red')
              | Tasks are summarised in the PDF and the email
            li
              i(class='fa-li fa fa-cubes fa-lg red')
              | eConvenor's minutes design is based on 30 years of experience

        div(class='col-md-7')
          div(class='spacer visible-md visible-lg')

          div(id='carousel-agenda', class='carousel slide')
            div(class='carousel-frame')
              div(class='carousel-inner')
                div(class='item active')
                  a(class='popup-image', href='images/landing/minutes-screenshot-1-large.png')
                    img(src='images/landing/minutes-screenshot-1-small.png', alt='Agenda screenshot 1')

                div(class='item')
                  a(class='popup-image', href='images/landing/minutes-screenshot-2-large.png')
                    img(src='images/landing/minutes-screenshot-2-small.png', alt='Agenda screenshot 2')

                div(class='item')
                  a(class='popup-image', href='images/landing/minutes-screenshot-3-large.png')
                    img(src='images/landing/minutes-screenshot-3-small.png', alt='Agenda screenshot 3')

        div(class='col-md-4 pull-right visible-md visible-lg')
          p(class='lead').
            Meeting minutes are so important.
            eConvenor makes it quick, easy and painless to
            produce great minutes.
          ul(class='fa-ul')
            li
              i(class='fa-li fa fa-repeat fa-lg red')
              | Agendas automatically create minutes templates
            li
              i(class='fa-li fa fa-file-pdf-o fa-lg red')
              | eConvenor turns minutes into a PDF and emails them out
            li
              i(class='fa-li fa fa-list fa-lg red')
              | Tasks are summarised in the PDF and the email
            li
              i(class='fa-li fa fa-cubes fa-lg red')
              | eConvenor's minutes design is based on 30 years of experience

          a(href='images/pdfs/example_minutes.pdf', target='_blank')
            button(type='button', class='btn btn-primary')
              i(class='fa-fw fa fa-file-pdf-o fa-lg')
              &nbsp; See some example minutes

        a(href='images/pdfs/example_minutes.pdf', target='_blank')
          button(type='button', class='btn btn-primary visible-xs visible-sm')
            i(class='fa-fw fa fa-file-pdf-o fa-lg')
            &nbsp; See some example minutes

  // SECTION 1C
  // ==================================================
  div(id='section1c', class='sectionc')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') Automatic task coordination

      div(class='row')
        div(class='col-md-5')
          p(class='lead').
            Do you wish that someone else could remind people to do what they
            said they'd do?
            eConvenor will do that.
          ul(class='fa-ul')
            li
              i(class='fa-li fa fa-search-plus fa-lg red')
              | Collects and tracks tasks assigned in meetings
            li
              i(class='fa-li fa fa-tags fa-lg red')
              | Emails reminders to people when their tasks are due
            li
              i(class='fa-li fa fa-check fa-lg red')
              | Participants can manage their own tasks, without logging in
            li
              i(class='fa-li fa fa-list fa-lg red')
              | Lists of tasks appear for review in agendas and minutes
            li
              i(class='fa-li fa fa-star fa-lg red')
              | eConvenor sends task reminders so you don't have to

        div(class='col-md-7')
          div(class='spacer visible-md visible-lg')

          div(id='carousel-agenda', class='carousel slide right')
            div(class='carousel-frame')
              div(class='carousel-inner')
                div(class='item active')
                  a(class='popup-image', href='images/landing/tasks-screenshot-1-large.png')
                    img(src='images/landing/tasks-screenshot-1-small.png', alt='Agenda screenshot 1')

                div(class='item')
                  a(class='popup-image', href='images/landing/tasks-screenshot-2-large.png')
                    img(src='images/landing/tasks-screenshot-2-small.png', alt='Agenda screenshot 2')

                div(class='item')
                  a(class='popup-image', href='images/landing/tasks-screenshot-3-large.png')
                    img(src='images/landing/tasks-screenshot-3-small.png', alt='Agenda screenshot 3')

  // DIVIDER 3
  //==================================================
  div(class='jumbotron dividerb red-background')
    div(class='container')
      div(class='text center')
        h1(class='text-center') Built by activists, for activists.
        h2(class='text-center').
          eConvenor is a free service to help activist groups everywhere be more
          effective.


  // THE STORY BEHIND ECONVENOR
  // =================================================
  div(class='section')
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          h1(class='red text-center') The story behind eConvenor
          p(class='lead').
            We're two ordinary people from Melbourne, Australia, who were frustrated
            with the time we saw wasted because of poor internal organisation.
            Each activist and organising group we belonged to was reinventing the
            wheel. Great ideas, skills and organisational memory were lost
            each time an activist moved on.
          p(class='lead').
            We were sure there had to be a better way. We looked around for tools
            which could help, but couldn't find anything that suited our needs or
            the activist budget.
          p(class='lead').
            Taking on the DIY spirit of activism and social movements, we
            learnt new skills and made our own organising tool. It will keep
            your group well-organised, running smoothly and most importantly,
            effective.
          p(class='lead').
            We really hope you like it as much as we do.
          p(class='lead').
            Keep fighting!
          img(src='images/signature.png', id='signature', alt='Keira & Sky')
          p(class='text-center')
            a(href='qualify_step1')
              button(type='button', class='btn btn-primary btn-lg')
                i(class='fa-fw fa fa-bookmark fa-lg')
                &nbsp;Get an account
