extends ./landing_base.pug

block seo
  title Meetniq  |  Your virtual convenor
  meta(name="description", content="Login to Meetniq")

block content

    // PAGE HEADER
    // ==================================================
    div(class="jumbotron jumbotron-header general")
      div(class="container")
        h1(class="text-center heading-margin") We're upgrading

    // BODY
    // ==================================================
    div(class="section general")
      div(class="container")
        div(class="row")
          div(class="col-md-10")
            h2(class="red") The login page has moved
            p It's now at <a href=#{loginUrl}>#{loginUrl}</a>
            p If you have this page bookmarked, please update to the new link.
