noscript
  div(id="noscript-message")
    i(class="fa fa-exclamation-triangle fa-fw fa-2x")
    br
    br
    p Your browser does not appear to have JavaScript enabled.
    p Please enable Javascript or eConvenor will not work.
  div(id="noscript-cover")
