extends ./landing_base.jade

block seo
  title eConvenor  |  Unions and political parties
  meta(name="description" content="Contact eConvenor.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron jumbotron-header divider general")
    div(class="container")
      h1(class="text-center") Unions and political parties

  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          h2(class="red") Account pricing
          p.
            Unions and political parties in high-income, reasonably democratic countries 
            who use eConvenor must pay a fee to support the project. You can set up a 
            free 30-day trial account to evaluate the service first &mdash; press the 
            sign up button above and follow the prompts.
            
          table(class="table table-bordered")
            tbody
              tr
                th Number of groups
                th  Fee paid quarterly (AU$)
                th Fee paid yearly (AU$)

              tr
                td 1 to 9
                td $50 per group
                td $180 per group

              tr
                td 10 +
                td $500 + $45 per extra group
                td $1,800 + $160 per extra group

              tr
                td 20 +
                td $950 + $40 per extra group
                td $3,400 + $140 per extra group

              tr
                td 50 +
                td $2,150 + $35 per extra group
                td $7,600 + $120 per extra group

          p For example: The fee for 25 groups, if paid quarterly, is $950 + (5 x $40) = $1,150.

          h2(class="red") Exemptions

          p If you're a very small union or political party and we really like what you stand for, we may bend this rule and provide you with free access to eConvenor. Feel free to <a href="mailto:fees@econvenor.org?subject=Fee+exemption+enquiry">email us</a>&nbsp;to put your case.
          p If you're a union or political party in a lower-income or less democratic country, you can use eConvenor free of charge.
