extends ./landing_base.pug

block seo
  title eConvenor  |  Unions and political parties
  meta(name="description" content="Contact eConvenor.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron jumbotron-header divider general")
    div(class="container")
      h1(class="text-center") Unions and political parties

  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          h2(class="red") Account pricing
          p.
            Unions and political parties in high-income, reasonably democratic countries 
            who use eConvenor must pay a fee to support the project. You can set up a 
            free 30-day trial account to evaluate the service first &mdash; press the 
            sign up button above and follow the prompts.
            
          table(class="table table-bordered")
            tbody
              tr
                th Basic
                th Standard
                th Extra

              tr
                td $5 per month, paid annually
                td $7 per group per month, paid annually
                td $15 per group per month, paid annually

              tr
                td $6 paid monthly
                td $8.40 paid monthly
                td $18 paid monthly

              tr
                td up to 3 meetings per month
                td unlimited meetings
                td unlimited meetings

              tr
                td 1 group only, up to 10 people
                td up to 20 people per group
                td unlimited people

              tr
                td 
                td email support
                td priority email support, gauranteed service time

              tr
                td 
                td standard metrics
                td premium metrics


          h2(class="red") Exemptions

          p If you're a very small union or political party and we really like what you stand for, we may bend this rule and provide you with free access to eConvenor. Feel free to <a href="mailto:fees@econvenor.org?subject=Fee+exemption+enquiry">email us</a>&nbsp;to put your case.
          p If you're a union or political party in a lower-income or less democratic country, you can use eConvenor free of charge.
