extends ./landing_base.pug

block seo
  title Meetniq  |  Pricing
  meta(name="description" content="Contact Meetniq.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron jumbotron-header general")
    div(class="container")
      h1(class="text-center heading-margin") Pricing

  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-3 col-sm-4 col-xs-12")
          div(class="panel pricing")
            div(class="panel-heading text-center")
              h3(class="red") Grassroots
              h4(class="red") Free forever
              small up to 20 groups
            div(class="panel-body")
              p.
                Full Meetniq access for free, forever, for small, local, and 
                marginalised groups.
              p.
                Meetniq is free for organisations that:
              ul.price-list
                li are engaged in community organising or campaigning, <b>and</b>
                li are not-for profit, <b>and</b>
                li.
                  have a main goal that is in <a href="#purposes">
                  our list</a> below.
              p.
                And that:
              ul.price-list
                li are controlled by first-nations people, <b>or</b>
                li are based in a low-income country, <b>or</b>
                li have fewer than 2 full-time staff (or equivalent).
              div(class='text-center')  
                a(class="btn btn-red btn-md text-center", href='#')
                  | &nbsp;Start now

        div(class="col-md-3 col-sm-4 col-xs-12")
          div(class="panel pricing")
            div(class="panel-heading text-center")
              h3(class="red") Sustainability
              h4(class="red") $9 per group, per month
              small billed annually, or $10.20 billed monthly, for up to 20 groups
            div(class="panel-body")
              p.
                For larger organising bodies. Your funds help us sustainably
                support small, local groups.
              p.
                Free 60 day trial.
              p This plan is for organisations that:
              ul.price-list
                li are engaged in community organising or campaigning, <b>and</b>
                li are not-for-profit, <b>and</b>
                li.
                  have a main goal that is in <a href="#purposes">
                  our list</a> below.
              p And that:
              ul.price-list
                li are trade unions, <b>or</b>
                li are political parties, <b>or</b>
                li have 2 or more full-time staff (or equivalent)
              div(class='text-center')    
                a(class="btn btn-red btn-md text-center", href='https://app.meetniq.org/create-account')
                  | &nbsp;Start your free trial
          
        div(class="col-md-3 col-sm-4 col-xs-12")
          div(class="panel pricing")
            div(class="panel-heading text-center")
              h3(class="red") Custom
              h4(class="red") Contact us
              small more than 20 groups
            div(class="panel-body")
              p.
                Really big organisation? Need more?
              p.
                If your group or organisation needs more participants, more
                groups, or more support, get in touch.
              div(class='text-center')
                a(class="btn btn-red btn-md text-center", href='https://app.meetniq.org/create-account')
                  | &nbsp;Contact Us

        div(class="col-md-3 col-sm-4 col-xs-12")
          div(class="panel pricing")
            div(class="panel-heading text-center")
              h3(class="red") For-profit
              h4(class="red") from $12 per month
              small at <a href="https://meetniq.com">meetniq.com</a>
            div(class="panel-body")
              p.
                If your group or organisation is for-profit or doesn't fit into
                the Grassroots or Sustainability categories, you will find your
                plan at <a href="https://meetniq.com">Meetniq.com</a>.
              p.
                Meetniq.org is a for-purpose service supported by Meetniq.com.
              p.
                Meetniq paid plans support free access for community and 
                campaigning groups.
              div(class='text-center')
                a(class="btn btn-red btn-md text-center", href='https://app.meetniq.org/create-account')
                  | &nbsp;Find your plan

      div(class="row")
        h2(id="purposes" class="red") Purposes
        p.
          Meetniq.org is for groups who are helping make the world
          a better place by:
        ul(class="sub-list")
          div(class='col-md-6')
            li addressing the climate emergency
            li creating gender equality
            li eradicating poverty
            li improving workers rights
            li other environmental protection aims
            li LGBTIQ rights and wellbeing
            li justice reform
          div(class='col-md-6')    
            li voting rights and access
            li equality for disabled and/or neurodiverse people
            li eradicating racism
            li challenging colonialism, fascism, war and capitalism
            li non-human animal rights
            li fighting for equality, access or justice for any marginalised group.

      div(class="row")
        h2(class="red") Don't quite fit?
        p.
          We don't want any progressive organising group to be excluded from
          Meetniq because of funding problems. 
        p.
          If your organisation meets the other requirements but:
        ul(class="sub-list")
          li has a progressive purpose that isn't in our list, or
          li fits the Sustainability plan but can't afford to pay
        p.
          then email us at <a href="mailto:mail@meetniq.org">mail@meetniq.org</a>
          and we'll see what we can do.
        p.
          Make sure to tell us what the purposes of your group are, where you
          are located, and why you need cheaper access.
