extends ./landing_base.pug

block seo
  title Meetniq  |  Privacy
  meta(name="description", content="Meetniq's privacy policy.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron jumbotron-header general")
    div(class="container")
      h1(class="text-center heading-margin") Privacy


  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
            
            h2(class="red") Overview
            p.
              We use your information to run the Meetniq service. This includes
              allowing you and your organisation to use the service, improving
              and maintaining the service, promoting Meetniq, and meeting
              legal obligations.
            p.
              We avoid collecting any information that we don't need to provide
              the service. You are welcome to use psuedonyms, and only give as 
              much detail as you choose about yourself and your organisation.
            p.
              We'll tell you if we change anything about how we use
              your information.
            
            h2.red Definitions
            ul.sub-list
              li.
                "We" means Meetniq Pty Ltd. 
              li.
                "Meetniq" means the Meetniq.org service.
              li.
                "Account owner" means the person responsible for the account.
              li.
                "Participant" and "coordinator" mean a person whose data is 
                entered into Meetniq by the account holder.                
              li.
                "You" means you, the account holder, or a participant associated
                with a Meetniq account.    
              li.
                "Your organisation" means the organisation, group, or entity 
                for which you are creating or hold a Meetniq account.
              li.
                "Your information" means information or data we hold about you.
            
            h2(class="red") Information we collect about you
            p We collect:
              ul(class="sub-list")
                li.
                  your name, nickname or psuedonym,
                li.
                  your email address,
                li.
                  the fact of your involvement in the group or organisation,
                li.
                  which meetings you attended (if your organisation records
                  attendance),
                li.
                  what tasks were assigned to you,  
                li.
                  your IP address, and
                li.
                  information about your browser, and interractions you have
                  with Meetniq (like when you logged in).                  
    
            h2(class="red") How we use your information
            p.
              When your organisation uses Meetniq, your information is used in
              these ways:
            ul(class="sub-list")
              li.
                <b>To run Meetniq and allow your group to use it</b>.
                For example, your name might be added by the account holder or coordinator 
                to meeting minutes or agendas, to
                note that you attended, did not attend, spoke, facilitated, 
                took minutes, were assigned a task, completed or updated a 
                task, or contributed in other ways.
              li.
                <b>To improve and maintain Meetniq.</b>
                For example, we might use information about how many overdue
                tasks there are to make improvements to our reminders.
              li.
                <b>To fix problems or make improvements you request.</b>
                For example, if you send us a bug report or feature request,
                the information you include in that form, along with your IP
                address and browser information will be used by us to
                investigate the problem, fix the issue, and contact you about
                the result or to ask questions about the feature or bug. 
              li.
                <b>To promote Meetniq.</b>
                For example, we might publish a graph about how many tasks are
                assigned in Meetniq, or show how many organisations within a
                given movement use Meetniq. Any such use would NOT include 
                names, organisation names, or other identifying information,
                unless we asked for and received your explicit and specific
                permission.
              li.
                <b>To find and fix security problems, fraud, misuse, 
                bugs, or similar.</b> For example, information about
                log in attempts, such as IP address and time, are used to show
                us if anyone is trying to hack your account.
                         
            h2.red Contacting you
            p We will only contact you:
            ul(class="sub-list")
              li.
                about the account, payment or plan (if you are the account
                owner or coordinator),
              li.
                about changes to our terms or privacy policy,
              li.
                if we are required to by law, or
              li.
                as part of the service, such as to remind you about a task
                assigned to you.
            p.
              The account holder and group coordinators for your organisation can
              contact you via Meetniq, as part of the service, such as when they
              send out the minutes.
            
            h2.red Sharing your information
            p Meetniq shares your information with:
              ul(class="sub-list")
                li.
                  the account holder for your organisation, for the purpose of 
                  using Meetniq and running the organisation (such as noting
                  your attendance at meetings, and setting pricing),
                li.
                  other participants in your organisation for the purpose of 
                  using Meetniq and running the organisation (such as sending
                  out minutes that include you on the attendee list), and
                li.
                  our sub-processors, which you can find <a href="subprocessors">
                  here</a>, such as our web hosting provider and email providers,
                  for the purpose of providing the service.

            h2.red Law enforcement agencies
            p.
              If we receive a request or demand for your information from a
              law enforcement agency or other authority, we will refuse unless
              compelled by law.
            p.
              Where possible we will let you know if we receive a request or
              demand for your information.
            p.
              If compelled to disclose your information, we will give you reasonable
              notice of the request or demand to allow you to seek a protective order
              or other remedy, unless we are legally prohibited
              from doing so.

            h2.red How we use cookies
            p.
              We only uses cookies for authentication, to make sure
              that you, and only you, can access your account.
            p.
              We don't use cookies to track your other activity on the web
              outside Meetniq. We don't use cookies to track our website visitors,
              unless they try to log in.
              
            h2(class="red") Email tracking
            p.
              We don't use email tracking technologies.
            p.
              However, when you open an email sent through Meetniq, in some
              cases your IP address is logged. This is because the email may 
              contain a link to our logo or your organisation's logo, and when
              your email downloads the image the download is logged.
            p.
              The purposes of these logs is to allow us to monitor traffic on
              our website, to improve and protect it.
            p.
              This log is not linked to your name, email address, the email you
              received, or even the fact that you opened an email. 
            p.
              Meetniq will not use these logs to track you in any way.
              
            h2(class="red") Data retention
            p.
              We will keep your information as long as it is necessary
              for the purpose for which we obtained it, unless you ask us to
              delete it at an earlier time. Our retention practices take into
              account legal requirements and the smooth operation of Meetniq.
            p.
              We will keep non-identifying metadata, such as the number of meetings
              in a month, and use it to promote Meetniq, or for research purposes.

            h2(class="red") Deleting, accessing or updating your information
            p If you are the account holder or logged in user:
              ul(class="sub-list")
                li.
                  You can update your own information at any time.
                li.
                  You can remove your information so that it is not used in
                  the future, by deleting your own participant record, and
                  nominating a new account holder.
                li.
                  You can delete the whole account.

            p If you are a participant:
              ul(class="sub-list")
                li.
                  You can contact the account holder for your organisation,
                  and they can update or delete your information, to prevent
                  it being used in the future.
                li.
                  If you would like to make a request under GDPR "right to 
                  erasure", you can contact the account holder.
                li.
                  If you think your information is being used illegally by
                  the account holder, such as for spam or harrassment, or that
                  the account holder does not have your consent to use the
                  information, please email us at
                  <a href="mailto:mail@meetniq.org">mail@meetniq.org</a>.
            
            h2.red More information
            p.
              If you, your organisation, or any of your participants are
              covered by the European GDPR you should also
              read our <a href="gdpr">GDPR Information</a> and our 
              <a href="dpa">Data Processing Addendum</a>.
