extends ./landing_base.jade

block seo
  title eConvenor  |  About the eConvenor project
  meta(name="description", content="Some background information on the eConvenor project.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron divider general")
    div(class="container")
      h1(class="text-center") The eConvenor project

  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          h2(class="red") Goal
          p.
            We provide the eConvenor service to help activist groups around the 
            world be better organised and more effective.
          h2(class="red") Background
          p The eConvenor project is a volunteer-run and not-for-profit.
          p.
            The core of the project are Keira and Sky &mdash; two activists from
            Melbourne, Australia &mdash; who were motivated to create eConvenor
            by decades of watching activist groups struggle to organise themselves
            and be effective.
          p The eConvenor service went live in April 2014.
          h2(class="red") Join in
          p eConvenor is an exciting project and it's off to a flying start.
          p.
            If you're interested in helping the activist groups of the world 
            be more effective, here's how you can 
            <a href='volunteer.html'>be part of the project</a>.
