extends ./landing_base.pug

block seo
  title Meetniq  |  About the Meetniq project
  meta(name="description", content="Some background information on the Meetniq project.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron jumbotron-header general")
    div(class="container")
      h1(class="text-center heading-margin") The Meetniq project

  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          h2(class="red") Goal
          p.
            We provide the Meetniq service to help activist groups around the
            world be better organised and more effective.
          h2(class="red") Background
          p.
            The project went live as eConvenor in April 2014, and the name was
            changed to Meetniq in June 2019.
          p.
            The core of the project are Keira and Sky &mdash; two activists from
            Melbourne, Australia. We were motivated to create Meetniq
            by decades of watching activist groups struggle to organise themselves
            and be effective.
          p.
            Between us we have 35 years experience of getting things done in
            small business, public service, management, activism and software
            development. We even met organising a political campaign!

          h2(class="red") Supporting free access for activists
          p.
            Meetniq is free for grassroots campaigns trying to make the world
            a better place. Our paid plans support this free access.
          p.
            In July we will launch <a href='https://meetniq.com'>meetniq.com</a>,
            open to any user. The apps have the same core features, though 
            the meetniq.org version is more suited to activists, and over
            time they may have different services integrated.
          p.
            The best way to support free access is to recommend Meetniq to your
            friends.  
