extends ./registration_base.jade

block heading
  h1
    span(class="fa-stack fa-md fa-fw")
      i(class="fa fa-circle fa-stack-2x white")
      i(class="fa fa-star fa-stack-1x blue")
    | &nbsp;
    | Set up an account

block subheading
  | Licence and legal bits&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Step 4 of 7

block content

  p(class="lead") It is okay for you to:
    ul
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
        | use, modify or reproduce snippets of code without attribution
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
        | review eConvenor's source code for learning, security or other purposes
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
        | contribute to eConvenor's code base


  p(class="lead") It is not okay for you to:
    ul
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
        | sell access to eConvenor
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
        | sell copies of eConvenor
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
        | use eConvenor's source code to create and sell a similar service or
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
        | use eConvenor's name or logo without eConvenor's permission
    

  p(class="lead") Abandoned accounts

  p If you don't sign in to your account for 12 months, it will be treated as abandoned. eConvenor will delete abandoned accounts.

  p(class="lead") Updates to eConvenor's terms and conditions

  p eConvenor's terms and conditions are likely to change from time to time. We will email users when they do. Users are responsible for ensuring participants in their group are aware of changes. By continuing to use eConvenor after the terms and conditions change, you agree to the new terms and conditions.

  p(class="lead") Jurisdiction

  p eConvenor is an Australian organisation, and the terms and conditions are governed in all respects by the laws of Australia. Any actions arising from the terms and conditions or in any way associated with eConvenor may be brought only in Australia.

  p(class="lead") Liability

  p The service is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and non-infringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the service or the use or other dealings in the service.

  div(class="pull-right")
    a(href="qualify_step3", class="btn btn-default")
      i(class="fa fa-arrow-circle-left fa-lg fa-fw") &nbsp;
      | Back
    
    a(href="/" class="btn btn-default")
      i(class="fa fa-times-circle fa-lg fa-fw") &nbsp;
      | Quit
    
    a(href="qualify_step5", class="btn btn-primary")
      i(class="fa fa-check-circle fa-lg fa-fw") &nbsp;
      | I understand
