extends ./registration_base.jade

block heading
  h1
    span(class="fa-stack fa-md fa-fw")
      i(class="fa fa-circle fa-stack-2x white")
      i(class="fa fa-star fa-stack-1x red") &nbsp;
    | Setting up an account

block content
  p(class="lead") eConvenor is not your normal web service.
  p Although other web services will give anyone an account in under a minute, eConvenor works differently.
  p eConvenor is exclusively for progressive groups, so you must complete an eligibility check and read the terms and conditions before registering an account.
  p eConvenor is a service for:
    ul
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | grassroots campaigns
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | non-government organisations (NGOs)
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | progressive service providers
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | co-operatives
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | activist groups and the like.
  p It takes about 10 minutes to do the eligibility check and read the terms and conditions.
  p We're excited to offer groups who share our vision of a better world a tool to help them be more effective.
  p Keep fighting!
  div(class="pull-right")
    a(href='index.html', class="btn btn-default")
      i(class="fa fa-home fa-lg fa-fw")
      |Quit
    a(href='qualify_step1.html', class="btn btn-primary")
      i(class="fa fa-arrow-circle-right fa-lg fa-fw") &nbsp;
      | Start
