extends ./registration_base.jade

block heading
  h1
    span(class="fa-stack fa-md fa-fw")
      i(class="fa fa-circle fa-stack-2x white")
      i(class="fa fa-star fa-stack-1x red") &nbsp;
    | Eligibility check

block subheading
  | Disqualification criteria&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Step 2 of 9

block content

  p(class="lead") Does your group fit into either or both of these categories?

  ul
    li
      i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
      | The group is a government agency, authority or department
    li
      i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
      | The group aims to spread or impose religion

  p(class="lead") A note for religious groups

  p.
    We see a difference between groups whose purpose is to spread or impose 
    religion and groups motivated by their religious belief to work against 
    oppression.

  p.
    If your group is motivated by religious belief to work against oppression, 
    but doesn't aim to convert people, we would love you to use eConvenor.

  p Examples of religious groups welcome to use eConvenor include: a feminist Muslim women's group; a Jewish anti-war group; a Buddhist vegetarian food co-op and a Christian group campaigning for refugee rights.

  div(class="pull-right")
    a(href="qualify_step1.html", class="btn btn-default")
      i(class="fa fa-arrow-circle-left fa-lg fa-fw") &nbsp;
      | Back

    button(type="button", class="btn btn-primary", id="exit_button")
      i(class="fa fa-check-circle fa-lg fa-fw") &nbsp;
      | Yes

    a(href="qualify_step3.html" class="btn btn-primary")
      i(class="fa fa-times-circle fa-lg fa-fw") &nbsp;
      | No

  div(class="modal-data", id="exit_modal_title")
    i(class="fa fa-times-circle fa-lg") &nbsp;
    | You are not eligible for an eConvenor account

  div(class="modal-data", id="exit_modal_body")
    p.
      Fitting either or both of more of these categories means that you cannot 
      set up an eConvenor account.

  div(class="modal-data", id="exit_modal_button")
    i(class="fa fa-arrow-circle-right fa-lg fa-fw") &nbsp;
    | Exit eligibility check

  div(class="modal-data", id="exit_modal_button_target")
