extends ./registration_base.jade

block heading
  h1
    span(class="fa-stack fa-md fa-fw")
      i(class="fa fa-circle fa-stack-2x white")
      i(class="fa fa-star fa-stack-1x red") &nbsp;
    | Eligibility check

block subheading
  | What you can expect from eConvenor&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Step 7 of 9

block content

  p(class="lead") eConvenor promises not to:
    ul
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | give your data to third parties unless compelled by law
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | sell or trade your contact details or other information or
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | ask you for unnecessary private or personal information.
      li
    

  p(class="lead") eConvenor promises to:
    ul
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | act ethically in building and maintaining eConvenor
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | vigorously resist all demands for information from third parties up until the point where we are compelled to comply with a lawful demand and
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | tell you when eConvenor's terms and conditions change.
    

  p(class="lead") eConvenor will try as hard as possible to:
    ul
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | keep your data secure
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | make eConvenor accessible to people with disabilities and
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | provide uninterrupted access to the service.


  p(class="lead") If you raise a concern with eConvenor we will:
    ul
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | respond in reasonable timeframe considering that we are a tiny, volunteer organisation
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | examine our own conduct in good faith and with an openness to change
      li
        i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
        | aim to resolve issues with a will to abolish oppression, recognition of responsibility for misuse of privilege, and a committment to social justice.
  

  div(class="pull-right")
    a(href="qualify_step6.html", class="btn btn-default")
      i(class="fa fa-arrow-circle-left fa-lg fa-fw") &nbsp;
      | Back

    a(href="index.html", class="btn btn-primary")
      i(class="fa fa-times-circle fa-lg fa-fw") &nbsp;
      | Quit

    a(href="qualify_step8.html", class="btn btn-primary")
      i(class="fa fa-check-circle fa-lg fa-fw") &nbsp;
      | I understand
