extends ./registration_base.jade

block heading
  h1
    span(class="fa-stack fa-md fa-fw")
      i(class="fa fa-circle fa-stack-2x white")
      i(class="fa fa-star fa-stack-1x red")
    &nbsp;
    | Set up an account

block subheading
  | Pricing&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Step 6.5 of 7


block content


  p(class="lead")
    <span class="red">Unions or political parties in high-income, reasonably democratic countries</span>

  p.
    As a union or party in a high-income, reasonably democratic country, your 
    group is eligible to use eConvenor for a fee. You can set up a 
    <span class="red">free 30-day trial</span> account to evaluate 
    the service first.
  p.
    After the 30 day trial you will be prompted to enter your payment details. 
    If you don't want to continue, the account will be closed.

  p(class="lead")<span class="red">Account pricing</span>
    table(class="table table-bordered")
      tbody
        tr
          th Number of groups
          th Fee paid quarterly (AU$)
          th Fee paid yearly (AU$)

        tr
          td 1 to 9
          td $50 per group
          td $180 per group

        tr
          td 10 +
          td $500 + $45 per extra group
          td $1,800 + $160 per extra group

        tr
          td 20 +
          td $950 + $40 per extra group
          td $3,400 + $140 per extra group

        tr
          td 50 +
          td $2,150 + $35 per extra group
          td $7,600 + $120 per extra group

    p For example: The fee for 25 groups, if paid quarterly, is $950 + (5 x $40) = $1,150.

  p.
    If you're a very small political party and we like what you stand for, we 
    may bend this rule and provide you with free access to eConvenor. Feel 
    free to <a href="mailto:fees@econvenor.org?subject=Fee+exemption+enquiry">
    email us</a>&nbsp;to put your case.

  p.
    The next step takes you through to set up your trial account.


  div(class="pull-right")
    a(href="qualify_step6", class="btn btn-default")
      i(class="fa fa-arrow-circle-left fa-lg fa-fw") &nbsp;
      |Back

    a(href='index', class="btn btn-default")
      i(class="fa fa-times-circle fa-lg fa-fw") &nbsp;
      | Quit

    a(href="qualify_step7a", class="btn btn-primary")
      i(class="fa fa-check-circle fa-lg fa-fw") &nbsp;
      | I understand
