extends ./registration_base.jade

block heading
  h1
    span(class="fa-stack fa-md fa-fw")
      i(class="fa fa-circle fa-stack-2x white")
      i(class="fa fa-star fa-stack-1x blue")
    | &nbsp;
    | Set up an account

block subheading
  | Contributing to eConvenor&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Step 5 of 7


block content

  p(class="lead").
    eConvenor is free for most groups because it's built by activists, for 
    activists.
  p(class='lead') However, groups who can afford to contribute are expected to.

  p(class="lead")
    i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
    | Most groups

  p.
    Does your group have no budget or a tiny budget? eConvenor was built for you! 
    You can use eConvenor completely free. No obligation, no worries.

  p(class="lead")
    i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
    | Groups who can afford to contribute

  p.
    Groups who feel that they can afford to make a donation in return for using 
    eConvenor should do so once each year.

  p(class="lead")
    i(class="fa fa-arrow-circle-right fa-lg fa-fw blue") &nbsp;
    | Political parties and trade unions

  p.
    Political parties and trade unions in high income
    countries (who are progressive and committed to social justice) can use
    eConvenor for a fee.

  p We rely on your honesty. Donations and fees help eConvenor improve.

  div(class="pull-right")
    a(href="qualify_step4", class="btn btn-default")
      i(class="fa fa-arrow-circle-left fa-lg fa-fw") &nbsp;
      | Back

    a(href="/" class="btn btn-default")
      i(class="fa fa-times-circle fa-lg fa-fw") &nbsp;
      | Quit

    a(href="qualify_step6", class="btn btn-primary")
      i(class="fa fa-check-circle fa-lg fa-fw") &nbsp;
      | I understand
