extends ./landing_base.jade

block seo
  title eConvenor  |  Terms and conditions
  meta(name="description", content="eConvenor's terms and conditions.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron divider general")
    div(class="container")
      h1(class="text-center") Terms and Conditions
      
    

  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
            h2(class="red") What eConvenor expects from you
            p(class="lead") We expect that you will:
              ul(class="fa-ul")
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | use your account only for not-for-profit, non-government groups
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | contribute financially if your group should do so
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | do your best to use strong passwords
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | maintain the security of your passwords and login 
                  | details and
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | abide by these terms and conditions
                

            p(class="lead") We hope that you will:
              ul(class="fa-ul")
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | spread the word about eConvenor
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | tell us when something isn't working, whether it's just 
                  | broken, or an accessibility problem and
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | raise any concerns you have with us via email
              

            p(class="lead") We expect that you will not:
              ul(class="fa-ul")
                li
                  i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
                  | use eConvenor to progress oppressive agendas
                li
                  i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
                  | use eConvenor for a for-profit group or government agency
                li
                  i(class="fa fa-arrow-circle-right fa-lg fa-fw red") &nbsp;
                  | lie to us in your application to use eConvenor.


            p(class="lead") If you break the rules, we may:
              ul(class="fa-ul")
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | send you a warning
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | lock your account until the matter is resolved
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | refuse any further access to your account and stored data 
                  | (in serious cases)
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | delete your data (in serious cases) and/or
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | block you and your group from using eConvenor (in serious cases)
                

            h2(class="red") What you can expect from eConvenor
            p(class="lead") eConvenor promises not to:
              ul(class="fa-ul")
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | give your data to third parties unless compelled by law
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | sell or trade your contact details or other information or
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | ask you for unnecessary private or personal information.
                

            p(class="lead") eConvenor promises to:
              ul(class="fa-ul")
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | act ethically in building and maintaining eConvenor
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | vigorously resist all demands for information from third
                  | parties up until the point where we are compelled to comply
                  | with a lawful demand and
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | tell you when eConvenor's terms and conditions change.
                

            p(class="lead") eConvenor will try as hard as possible to:
              ul(class="fa-ul")
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | keep your data secure
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | make eConvenor accessible to people with disabilities and
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | provide uninterrupted access to the service.
                

            p(class="lead") If you raise a concern with eConvenor we will:
              ul(class="fa-ul")
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | respond in reasonable timeframe considering that we are a
                  | tiny, volunteer organisation
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | examine our own conduct in good faith and with an openness
                  | to change
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | aim to resolve issues with a will to abolish oppression,
                  | recognition of responsibility for misuse of privilege, and a
                  | committment to social justice.
                

            h2(class="red") Licence and legal bits

            p(class="lead") It is okay for you to:
              ul(class="fa-ul")
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | use, modify or reproduce snippets of code without attribution
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | review eConvenor's source code for learning, security or
                  | other purposes
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | contribute to eConvenor's code base
                

            p(class="lead") It is not okay for you to:
              ul(class="fa-ul")
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | sell access to eConvenor
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | sell copies of eConvenor
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | use eConvenor's source code to create and sell a similar
                  | service or
                li
                  i(class="fa fa-li fa-arrow-circle-right fa-lg red")
                  | use eConvenor's name or logo without eConvenor's permission
                

            p(class="lead") Abandoned accounts

            p.
              If you don't sign in to your account for 12 months, it will be
              treated as abandoned. eConvenor will delete abandoned accounts.

            p(class="lead") Updates to eConvenor's terms and conditions

            p.
              eConvenor's terms and conditions are likely to change from time
              to time. We will email users when they do. Users are responsible
              for making sure participants in their group are made aware of changes.
              By continuing to use eConvenor after the terms and conditions change, 
              you agree to the new terms and conditions.

            p(class="lead") Jurisdiction

            p.
              eConvenor is an Australian organisation, and the terms and
              conditions are governed in all respects by the laws of Australia.
              Any actions arising from the terms and conditions or in any way
              associated with eConvenor may be brought only in Australia.

            p(class="lead") Liability

            p.
              The service is provided "as is", without warranty of any kind,
              express or implied, including but not limited to the warranties
              of merchantability, fitness for a particular purpose and
              non-infringement. In no event shall the authors or copyright
              holders be liable for any claim, damages or other liability,
              whether in an action of contract, tort or otherwise, arising
              from, out of or in connection with the service or the use or
              other dealings in the service.
