extends ./landing_base.pug

block seo
  title Meetniq  |  Terms
  meta(name="description", content="Meetniq's terms of service.")

block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron jumbotron-header general")
    div(class="container")
      h1(class="text-center heading-margin") Terms of Service


  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          
          h2(class="red") Purpose
          p.
            Meetniq is a service that your campaigning organisation can use to 
            be more effective by having productive meetings, keeping track of
            decisions and tasks, and organising your group.    
            
          h2(class="red") Definitions
          ul.sub-list
            li.
              "We" means Meetniq Pty Ltd.
            li.
              "Meetniq" means the Meetniq.org service.
            li.
              "You" means you, the person creating or responsible for an
              account.
            li.
              "Your organisation" means the organisation, group, or entity
              for which you are creating or hold a Meetniq account.

          h2(class="red") What you can expect from us
          p We will:
            ul(class="sub-list")
              li.
                do our best to make Meetniq an excellent service,
              li.
                act ethically in building and maintaining Meetniq,
              li.
                vigorously resist all demands for information from authorities
                up until the point where we are compelled to comply
                with a lawful demand,
              li.
                tell you when our terms change, and
              li.
                collect and use your information only as we describe in our 
                <a href="privacy">Privacy Policy</a>.

          p If you raise a concern with us we will:
            ul(class="sub-list")
              li.
                respond by email in a reasonable timeframe,
              li.
                examine our own conduct in good faith and with an openness
                to change, and
              li.
                aim to resolve issues with a committment to social justice.

          h2(class="red") Eligibility
          p.
            We subsidise Meetniq because we want to support
            people working to make the world a better place.
          
          p Organisations are eligible to use Meetniq if they:
            ul(class="sub-list")
              li.
                are not-for-profit, 
              li.
                engage in campaigning or community organising, and
              li.
                have progressive purposes.
          p.
            We reserve the right to decide who is eligible, including whether
            an organisation's purposes are eligible.

          h2(class="red") What we expect from you
          p We expect that you will:
            ul(class="sub-list")
              li.
                answer the questions honestly when signing up for a Meetniq
                account,
              li.
                do your best to use a strong password,
              li.
                keep your password secure and secret,
              li.
                pay for your account, unless you have a free account,                
              li.
                ensure you have the right to collect and use any personal
                information, including senstive information, that you add
                to Meetniq about any person, and
              li.
                abide by these terms.

          p We hope that you will:
            ul(class="sub-list")
              li.
                tell us when something about Meetniq isn't working by using our
                bug report and feature request forms, and
              li.
                raise any other concerns you have with us via email.

          p We expect that you will not:
            ul(class="sub-list")
              li.
                enter personal information, including sensitive information, 
                about any person without their consent, unless you
                otherwise have the right to do so,
              li.
                enter medical information about any person, or personal or
                identifying information about children,              
              li.
                use Meetniq to spam, harrass, intimidate, stalk, bully, 
                surveil or otherwise mistreat anybody,
              li.
                sell access to Meetniq, or
              li.
                use Meetniq for anything other than it's intended purpose.

          h2.red If you break these rules
          p If you break these rules we may:
            ul(class="sub-list")
              li.
                send you a warning,
              li.
                lock your account,
              li.
                delete your account (in serious cases), and/or
              li.
                block you and your organisation from using Meetniq and associated
                services (in serious cases).


          h2(class="red") Abandoned, unpaid or cancelled accounts
          p
            b Abandoned accounts
          p.
            If you don't sign in to your free account for 12 months, it will be
            treated as abandoned.
          p.
            We will delete abandoned accounts at our discretion.

          p
            b Unpaid accounts
          p.
            If your payment for your account is in arrears, we will contact you 
            to prompt you to pay or to cancel it.
          p.
            If payment for your account is in arrears of up to 60 days, you will be 
            blocked from accessing the account until you bring your payment up
            to date.
          p.
            If your payment for your account is in arrears of 60 days or more,
            we will treat your account as abandoned. 

          p
            b Cancelling your account
          p.
            You may choose to cancel your account at any time.
          p.
            If you have paid for an account, and choose to cancel it prior to
            the end of its paid term, you will not be given a refund for the
            unused time.
          p.
            When you cancel your account, we will retain data in line 
            with our <a href="privacy">Privacy Policy</a>.           
            
          h2(class="red") Jurisdiction, liability and updates
          p
            b Jurisdiction
          p.
            We are an Australian organisation, and these terms are governed
            in all respects by the laws of Australia. Any actions arising from
            them or in any way associated with us may be brought only in Australia.

          p
            b Liability
          p.
            The service is provided "as is", without warranty of any kind,
            express or implied, including but not limited to the warranties
            of merchantability, fitness for a particular purpose and
            non-infringement. In no event shall the authors or copyright
            holders be liable for any claim, damages or other liability,
            whether in an action of contract, tort or otherwise, arising
            from, out of or in connection with Meetniq or the use or
            other dealings with Meetniq.

          p
            b Updates
          p.
            These terms are likely to change from time
            to time. We will email you when they do. You are responsible
            for making sure participants in your organisation are made aware of
            changes that affect them.
          p.
            By continuing to use Meetniq after these terms change, you agree to
            the new terms.
            
          h2(class="red") Data processing (GDPR)
          p.
            If you, your organisation, or any participants are covered by the
            European GDPR (General Data Protection Regulation), then our
            <a href="dpa">Data Processing Addendum</a> forms part of these
            terms.
            
