extends ./landing_base.jade

block seo
  title eConvenor  |  Work on eConvenor
  meta(name="description", content="How to work on the eConvenor project.")


block content

  //PAGE HEADER
  //==================================================
  div(class="jumbotron jumbotron-header divider general")
    div(class="container")
      h1(class="text-center") Work on eConvenor with us

  //BODY
  //==================================================
  div(class="section general")
    div(class="container")
      div(class="row")
        div(class="col-md-10")
          h2(class="red") Why you might love working on eConvenor
          p Click on the titles or the plus signs below to expand the section.
          ul(class="fa-ul")
            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Clear goals

              div(class="faq-body")
                p.
                  The eConvenor project focuses on building and maintaining
                  the eConvenor service according to the vision outlined in
                  the eConvenor Functional Specification. The specification
                  sets out clear, achievable goals and we make sure that
                  everything we do moves the project closer to reaching them.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") High standards

              div(class="faq-body")
                p.
                  We're not just about making eConvenor something that will
                  do the job, we're about making it the very best service it
                  can be. We apply high standards to what we make, and we
                  apply high standards to the process we use to make it.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") All genders welcome

              div(class="faq-body")
                p.
                  eConvenor is not another technology project with a culture
                  of oblivious, unquestioning masculinity. We oppose all forms
                  of oppression, including &mdash; of course &mdash; oppression
                  based on gender. eConvenor welcomes people of all genders
                  with respect and without prejudice. We have a
                  <a href='conduct'>code of conduct</a>.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Well-organised

              div(class="faq-body")
                p.
                  An effective project must be a well-organised project.
                  We dislike chaos and poor organisation because it wastes
                  time and energy. We're into getting things done and done
                  well, so we plan carefully and invest time in being
                  well-organised.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Tangible results

              div(class="faq-body")
                p.
                  Working on eConvenor produces tangible, measurable results.
                  When we add features to the service or make improvements,
                  we can see the results instantly. Over the longer term, we
                  also get the satisfaction of seeing more and more groups
                  using and benefiting from eConvenor, and we know that we
                  are helping them be more effective in their work and
                  campaigns.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Changing the world

              div(class="faq-body")
                p.
                  eConvenor aims to have 5,000 groups around the world
                  actively using the service by the end of 2015. If we
                  can achieve this, we will be saving the world's activist
                  groups approximately 130 full-time jobs worth of
                  administrative work. That's a huge amount of effort which
                  eConvenor will free up and which those groups can then
                  channel into their campaigns.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Nice people who are good to work with

              div(class="faq-body")
                p.
                  We try very hard to be nice and easy to work with. We don't
                  have big egos and we're not megalomaniacs. We just believe
                  in "walking our talk" and doing our bit to make the world
                  better. Also, we like working with other people and being
                  part of a team.

          h2(class="red") The sort of people we're looking for
          p Click on the titles or the plus signs below to expand the section
          ul(class="fa-ul")
            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Sensible

              div(class="faq-body")
                p.
                  You need to have common sense. We feel like we need to point
                  this out because, as the old saying goes: The thing about
                  common sense is that it's not very common.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Focused

              div(class="faq-body")
                p.
                  You need to be focused, which is another way of saying that
                  you need to be capable of getting things done when you say
                  that you will do them.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Good at cooperating

              div(class="faq-body")
                p.
                  We're building a team for the eConvenor project. You don't
                  need to be terribly sociable, and you certainly don't need
                  to be an extravert, but you do need to be good at
                  cooperating with people and working in a team. 

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Nothing to prove

              div(class="faq-body")
                p.
                  The eConvenor project wants people who are just motivated
                  by the aim of making the world a better place and aren't
                  trying to prove anything to anyone. There is no place within
                  the project for people with large egos or something to prove.
                  We want the project group to be harmonious, and in our
                  experience people with big egos or something to prove
                  undermine that.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Good politics

              div(class="faq-body")
                p.
                  The eConvenor project rests on a foundation of opposition to
                  all forms of oppression. We just call this "good politics".
                  You must have good politics to work on eConvenor with us,
                  and follow our <a href='conduct'>code of conduct</a>.

            li
              div(class="faq-title")
                i(class="fa fa-li fa-plus-circle fa-lg red")
                p(class="lead") Useful skills and/or initiative

              div(class="faq-body")
                p.
                  We are looking specifically for people with skills in coding
                  (Python/Django), front-end development (HTML/CSS/JS), web
                  application security, graphic design and writing/communications.
                p.
                  That said, there are always miscellaneous tasks which need
                  doing, and the only pre-requisite for working on them is an
                  ability to take some initiative and solve problems. If
                  you're the right sort of person, we'll find ways for you to
                  work on eConvenor with us no matter what your skills are.

          h2(class="red") Sound okay?
          p If this sounds like it's up your alley, <a href='contact'>let us know</a>.
          p.
            If you're in Melbourne, Australia, you can come and
            <a href='hack'>hack with us each month</a>.
          p.
            Note that Convenor is a volunteer organisation and doesn't have
            paid jobs.

block extrajs

  script.
    $(function () {
      $(".faq-body").hide();
      $(".faq-title").click(function() {
        $(this).next(".faq-body").slideToggle(500);
        $(this).children("i").toggleClass("fa-plus-circle fa-minus-circle");
      });
    });
